{
  "plugins": [
    "react-redux"
  ],
  "extends": [
    "react-app",
    "airbnb-base",
    "plugin:react-redux/recommended"
  ],
  "rules": {
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off"
  }
}