{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "react-redux",
    "prettier"
  ],
  "extends": [
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-redux/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 100,
      "singleQuote": true
    }],
    "comma-dangle": ["error", "never"]
  }
}